<tr>
  <td>
    <a class="linkBoard"></a>
    <span class="indicatorSfw">
      <i class="fa fa-briefcase"></i>
    </span>
    <span class="indicatorInactive">
      (Dead)
    </span>
  </td>
  <td>
    <span class="divDescription"></span>
  </td>
  <td>
    <span class="labelTags"></span>
  </td>

  <td>
    <span class="labelPostsPerHour cellComponent"></span>
  </td>
  <td>
    <span class="labelPostCount cellComponent"></span>
  </td>
  <td>
    <span class="labelUniqueIps cellComponent"></span>
  </td>
</tr>
