<div class="post-form-container">
  <table id="posting-table">
    <tr id="divName">
      <th><label for="fieldName">Name</label></th>
      <td>
        <input type="text" class="postingInput" id="fieldName" name="name" />
      </td>
    </tr>

    <tr>
      <th><label for="fieldSubject">Subject</label></th>
      <td>
        <input type="text" class="postingInput" id="fieldSubject" name="subject" />
      </td>
    </tr>

    <tr>
      <th><label for="fieldMessage">Message</label></th>
      <td>
        <textarea
          rows="5" cols="30" class="postingInput"
          id="fieldMessage" name="message"></textarea>

        <p>
          <small>
            Max message length: <span id="labelMessageLength"></span>
          </small>
        </p>
      </td>
    </tr>

    <tr id="divUpload">
      <th><label for="inputFiles">Files</label></th>
      <td>
        <div id="dragAndDropDiv">
          <div class="dropzone" id="dropzone">
            <p>
              Drag files to upload or <br />
              click here to select them
            </p>
          </div>
          <div id="selectedDiv"></div>
        </div>

        <div>
          <input type="file" name="files" id="inputFiles" multiple
                class="fileBrowser" />
        </div>

        <p>
          <small>
            Maximum <span id="labelMaxFiles"></span> files /
            Maximum size: <span id="labelMaxFileSize"></span>
          </small>
        </p>
      </td>
    </tr>

    <tr id="captchaDiv">

      <th>Captcha</th>
      <td>
        <div class="captchaImageContainer">
          <img class="captchaImage" src="/captcha.js" id="captchaImage" />

          <div class="hidden reloadCaptchaButton"
               onclick="captchaUtils.reloadCaptcha()">
            <i class="fa fa-sync-alt"></i>
          </div>
          <span class="captchaTimer"></span>
        </div>

          <input
            name="captcha"
            type="text"
            class="captchaField postingInput"
            id="fieldCaptcha"
            placeholder="answer">

          <a
            href="/noCookieCaptcha.js"
            class="small">no cookies?</a>

        </div></td>
    </tr>

  </table>

  <button type="submit" class="post-submit">Post</button>

  <details class="posting-extra">
    <summary>
        More
    </summary>

    <table id="posting-extra-table">
      <tr>
        <th><label for="checkboxSpoiler">Spoiler images</label></th>
        <td>
          <input type="checkbox" name="spoiler" class="postingCheckbox"
            id="checkboxSpoiler" />
        </td>
      </tr>

      <tr>
        <th><label for="fieldEmail">E-mail</label></th>
        <td>
          <input type="text" class="postingInput" id="fieldEmail" name="email" />
        </td>
      </tr>

      <tr>
        <th><label for="fieldPostingPassword">Password</label></th>
        <td>
          <input id="fieldPostingPassword" name="password"
              class="postingInput" type="password" />
          <p>
            <small>
              (used to delete files and postings)
            </small>
          </p>
        </td>
      </tr>

      <tr id="flagsDiv">
        <th><label for="flagCombobox">Flags</label></th>
        <td>
          <select name="flag" id="flagCombobox"></select>
          <img class="flagPreview" />
        </td>
      </tr>

      <tr id="noFlagDiv">
        <th><label for="checkboxNoFlag">Disable location flag</label></th>
        <td>
          <input type="checkbox" class="postingCheckbox postingInput"
              id="checkboxNoFlag" name="noFlag" />
        </td>
      </tr>

      <tr class="hidden" id="alwaysUseBypassDiv">
        <th><label for="alwaysUseBypassCheckBox">Use bypass</label></th>
        <td>
          <input type="checkbox" class="postingCheckbox postingInput"
              id="alwaysUseBypassCheckBox" />
        </td>
      </tr>
    </table>
  </details>

  <input name="boardUri" id="boardIdentifier" type="hidden" />
  <input type="hidden" name="threadId" id="threadIdentifier" />
</div>
