.theme_tomorrow
{ font-family: Arial, Helvetica, sans-serif; }

.theme_tomorrow ,
.theme_tomorrow button,
.theme_tomorrow input[type=submit],
.theme_tomorrow input[type=button],
.theme_tomorrow .latestPostCell,
.theme_tomorrow .settingsTab
{ background-color: #1d1f21; }

.theme_tomorrow
{ background-image: none; }

.theme_tomorrow ,
.theme_tomorrow [type=text],
.theme_tomorrow [type=password],
.theme_tomorrow textarea,
.theme_tomorrow button,
.theme_tomorrow input[type=submit],
.theme_tomorrow input[type=button],
.theme_tomorrow .linkSelf,
.theme_tomorrow .linkQuote,
.theme_tomorrow .linkSelf:visited,
.theme_tomorrow .linkQuote:visited,
.theme_tomorrow .settingsTab,
.theme_tomorrow span.detected::before
{ color: #C5C8C6; }

.theme_tomorrow hr
{ border-bottom: none; }

.theme_tomorrow hr
{ border-top: 1px solid #282a2e; }

.theme_tomorrow [type=text],
.theme_tomorrow [type=password],
.theme_tomorrow textarea
{ background-color: #1d1d21; border-color: #222; }

.theme_tomorrow button,
.theme_tomorrow input[type=submit],
.theme_tomorrow input[type=button]
{ box-shadow: 0 0 2px #f1f2f3; }

.theme_tomorrow button:disabled,
.theme_tomorrow input[type=submit]:disabled,
.theme_tomorrow input[type=button]:disabled
{ color: #666666; }

.theme_tomorrow button:disabled,
.theme_tomorrow input[type=submit]:disabled,
.theme_tomorrow input[type=button]:disabled
{ color: #666666; }

.theme_tomorrow a,
.theme_tomorrow a:visited,
.theme_tomorrow .menuClose,
.theme_tomorrow .extraMenu div,
.theme_tomorrow .hideMenu div
{ color: #81a2be; }

.theme_tomorrow .quoteLink,
.theme_tomorrow .quoteLink:visited
{ color: #81a2be; }

.theme_tomorrow a:hover,
.theme_tomorrow .quoteLink:hover
{ color: #5F89AC; }

.theme_tomorrow .menuClose:hover,
.theme_tomorrow .extraMenu div:hover,
.theme_tomorrow .hideMenu div:hover,
.theme_tomorrow .settingsTab:hover,
.theme_tomorrow .modalCaptchaControls i:hover,
.theme_tomorrow .reloadCaptchaButton i:hover
{ color: #5F89AC; }

.theme_tomorrow .bracket-list,
.theme_tomorrow .bracket-list > *:not(:last-child)::after,
.theme_tomorrow .bracket-button::before,
.theme_tomorrow .bracket-button::after
{ color: #C5C8C6; }

.theme_tomorrow .top-nav,
.theme_tomorrow .latest-activity > *,
.theme_tomorrow #divStats,
.theme_tomorrow .boards-list tbody tr:nth-of-type(2n),
.theme_tomorrow .innerPost,
.theme_tomorrow #quick-reply,
.theme_tomorrow .reportFieldset,
.theme_tomorrow #settingsFieldset,
.theme_tomorrow .floatingMenu,
.theme_tomorrow .modalDecorationPanel
{ background-color: #282a2e; }

.theme_tomorrow .top-nav,
.theme_tomorrow .latest-activity > *::before,
.theme_tomorrow #divStats::before,
.theme_tomorrow .modalHeader
{ border-bottom: 1px solid #111; }

.theme_tomorrow .top-boards a
{ background-color: #282a2e; }

.theme_tomorrow .latest-activity > *,
.theme_tomorrow #divStats,
.theme_tomorrow .innerPost,
.theme_tomorrow .markedPost,
.theme_tomorrow .reportFieldset,
.theme_tomorrow #settingsFieldset
{ border-color: #282a2e; }

.theme_tomorrow .boards-list th,
.theme_tomorrow #posting-table th,
.theme_tomorrow #posting-extra-table th,
.theme_tomorrow #quick-reply .handle,
.theme_tomorrow #selectedTab
{ background-color: #282a2e; }

.theme_tomorrow #labelName,
.theme_tomorrow .redText
{ color: #AF0A0F; }

.theme_tomorrow #labelName
{ font-family: tahoma; }

.theme_tomorrow #favouriteButton
{ color: #888; }

.theme_tomorrow #favouriteButton.checkedFavouriteButton
{ color: #FFB300; }

.theme_tomorrow #qrbody,
.theme_tomorrow #fieldMessage
{ font-family: Arial, Verdana, sans-serif; }

.theme_tomorrow .dropzone
{ background-color: #78797b; color: black; }

.theme_tomorrow .dropzone p
{ border-color: #656769; }

.theme_tomorrow .dropzone p:hover
{ border-color: #282a2e; }

.theme_tomorrow #selectedDiv,
.theme_tomorrow #selectedDivQr
{ background: #78797b; color: black; }

.theme_tomorrow .markedPost
{ background-color: #1d1d21; border-color: #111; }

.theme_tomorrow .labelSubject
{ color: #b294bb; }

.theme_tomorrow .linkName.noEmailName,
.theme_tomorrow .labelYou
{ color: #C5C8C6; }

.theme_tomorrow .labelRole
{ color: red; }

.theme_tomorrow .labelId,
.theme_tomorrow .spoiler:hover,
.theme_tomorrow #selectedTab,
.theme_tomorrow .reloadCaptchaButton,
.theme_tomorrow .captchaTimer,
.theme_tomorrow .modalCaptchaControls,
.theme_tomorrow span.detected::after
{ color: #FFF; }

.theme_tomorrow .quoteLink.you:after
{ color: #C5C8C6; }

.theme_tomorrow .divBanMessage,
.theme_tomorrow #panelMessage
{ color: #F00; }

.theme_tomorrow .divBanMessage::before,
.theme_tomorrow .pinIndicator,
.theme_tomorrow .lockIndicator,
.theme_tomorrow .cyclicIndicator,
.theme_tomorrow .bumpLockIndicator
{ font-family: "Font Awesome 5 Free"; }

.theme_tomorrow .labelLastEdit
{ color: #C5C8C6; }

.theme_tomorrow .greenText
{ color: #789922; }

.theme_tomorrow .pinkText
{ color: rgb(224, 114, 127); }

.theme_tomorrow .spoiler,
.theme_tomorrow span.detected::after
{ background: black; }

.theme_tomorrow .catalogCell img
{ box-shadow: 0 2px 3px #0004; }

.theme_tomorrow .reportFieldset legend,
.theme_tomorrow #settingsFieldset legend
{ border-bottom: 1px solid #b7c5b9; }

.theme_tomorrow .floatingMenu,
.theme_tomorrow .modalInnerPanel
{ box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }

.theme_tomorrow .modalPanel
{ background-color: #0006; }

.theme_tomorrow .reloadCaptchaButton,
.theme_tomorrow .captchaTimer,
.theme_tomorrow .modalCaptchaControls
{ background-color: #0008; }

.theme_tomorrow span.detected
{ background: white; }

.theme_tomorrow span.detected
{ color: #0038B8; }

.theme_tomorrow span.detected::before
{ background-image: url("/.static/david.gif"); }

.theme_tomorrow .floatingMenu,
.theme_tomorrow .extraMenu hr
{ border-color: #1d1f21; }
